.footer {
  background: linear-gradient(180deg, transparent 40%, $bg-dark 40% );
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('./../images/static/footer-mobile.png') no-repeat left bottom;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 270px;
}

.form__footer {
  max-width: 350px;
  margin-bottom: 50px;

  & .btn-submit {
    max-width: 209px;
  }
}

.footer__contacts {
  padding: 13px;
}

.footer__contacts-list {
  color: $bg-form;

  & li:nth-child(odd) {
    font-weight: 700;
    font-size: calc(28px + 8 * (100vw - 375px) / 1620);
    padding-bottom: 22px;
  }

  & li:nth-child(even) {
    font-size: 24px;
  }

  & li:first-child {
    font-size: calc(36px + 12 * (100vw - 375px) / 1620);
  }
}

.footer__contacts {
  position: relative;
  z-index: 1;
}

@media (min-width: 1024px) {
  .footer {
    background: $bg-dark;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    padding: 84px 30px 0 30px;
  }
  
  .form__footer {
    color: $color-white;
  }
}