.slider {
  padding: 54px 0 42px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 308px;
  & img {
    max-width: 308px;
  }
}

.card__title {
  font-weight: 700;
  font-size: 36px;
}

.offers {
  margin: 0 15px;
}

.offers__wrapper{
  margin-bottom: 62px;
}

.btn-detail {
  max-width: 198px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  background: $btn-gradient;
  border-radius: 5px;
  text-transform: uppercase;
  align-self: flex-end;
}

.slider__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  & .swiper-pagination{
    position: relative;
    width: auto;
    padding-top: 15px;
  }
}

.swiper-pagination-bullet-active {
  background: $color-green;
}

.card__subtitle {
  font-size: 14px;
}

.card {
  font-weight: 500;
  position: relative;

}

.price,
.amount {
  font-size: 24px;
}

.card__offer-sizes {
  font-weight: 400;
}

.old-price {
  opacity: 0;
  visibility: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #FF0000;
    bottom: 10px;
    left: 10px;
    rotate: (-10deg);
  }
}

.old-price.active {
  opacity: 1;
  visibility: visible;
  font-size: 16px;
  color: #979797;
  padding-left: 8px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 85%;
    height: 2px;
    background: #FF0000;
    bottom: 10px;
    left: 10px;
    rotate: (-10deg);
  }
}

.card__stock {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px;
  display: none;
}

.card__stock.active {
  display: block;
}

.card__features {
  display: none;
}

.card__price-block {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .offers {
    margin: 0 64px;
  }

  .slider {
    padding: 105px 0 42px;
  }
}